.comment-form {
  margin-bottom: 30px;
}

.form-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form {
  padding: 15px 25px 20px 25px;
  background: #13609a;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-bottom: 7px;
  color: #ffffff;
}

.form-group.error .form-label {
  color: #FF6767;
}

.form-control {
  width: 367px;
  height: 43px;
  padding: 0 15px;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: inset 1px 1.7px 2px rgba(0, 0, 0, 0.19);
  box-shadow: inset 1px 1.7px 2px rgba(0, 0, 0, 0.19);
}

.form-group.error .form-control {
  background: #E68A8A;
}

.form-control_textarea {
  width: 100%;
  height: 110px;
  padding: 15px;
  resize: none;
}

.btn_form {
  padding-right: 20px;
  padding-left: 45px;
  background: #ffffff url(/img/svg/send-message.svg) 18px 14px no-repeat;
  background-size: 16px 16px;
}

.message {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #FFF;
}

.message.error {
  background: #c75050;
}

.message.success {
  background: #8BC750;
}