<h1>Редактирование даты</h1><br /><br />
<form method="POST">
<input type="hidden" name="content_id" value="<?=$content_id;?>">
Дата: <input type="text" name="date" class="datepicker" value="<?=$date;?>" /><br /><br />
<input type="submit" name="save" value="Сохранить" />
</form>