Сортировать по:
<br />
<a href="<?=ADMIN_CONTENT_DATE_URL;?>">Дата по убыванию</a> | 
<a href="<?=ADMIN_CONTENT_DATE_SORT_ASC_URL;?>">Дата по возрастанию</a>
<br /><br /><h1>Статьи</h1><br/>
<?=render_content_list($content_list, ADMIN_CONTENT_DATE_EDIT_URL, ADMIN_CONTENT_DATE_DELETE_URL);?>