<h1>Комментарии к статье <a target="_blank" href="<?=$content_page;?>"><?=$content_page;?></a></h1>
<br/>
<?=render_comments($comments, $content_id);?>
<br>
<? include(__DIR__.'/content_comment_form.tpl'); ?>