<table cellpadding="4" cellspacing="0" class="non-full" border="0" style="font: 11px Tahoma; border:#c0c0c0 1px solid; border-color: #c0c0c0;" >
    <tr>
        <td style="background: #c3ddf1; border-righ:#c0c0c0 1px solid;">Что происходит</td>
        <td style="background: #c3ddf1; border-righ:#c0c0c0 1px solid;">В каком количестве</td>
    </tr>
        
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Всего комменатриев:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$total_count;?></td>
    </tr>
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Из них опубликовано:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$total_posted_count;?></td>
    </tr>
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Опубликовано сегодня:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$today_posted_count;?></td>
    </tr>
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Ожидает публикации:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$today_unposted_count;?></td>
    </tr>
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Последний комментарий будет опубликован:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$last_comment_date;?></td>
    </tr>
    <tr>
	    <td style="border-right: #c0c0c0 1px solid; border-top: #c0c0c0 1px solid;">Комменариев в сутки:</td>
	    <td style=" border-top: #c0c0c0 1px solid;"><?=$comments_intensity;?></td>
    </tr>
</table>
<br><br>
<form method="POST">
	Показать статистику с <input type="text" name="from" value="<?=$_SESSION['from'];?>" class="datepicker" />
	по <input type="text" name="to" value="<?=$_SESSION['to'];?>" class="datepicker" />
	<input type="submit" />
</form>

<nobr>
	<table cellpadding="4" class="non-full" cellspacing="0" border="0" style="font: 11px Tahoma; border:#c0c0c0 1px solid; border-color: #c0c0c0;" >
        <tr>
        	<td style="background: #c3ddf1; border-righ:#c0c0c0 1px solid;">Дата</td>
        	<td style="background: #c3ddf1; border-righ:#c0c0c0 1px solid;">Всего</td>
        </tr>
    <?=render_comments_stat($comments_stat);?>
	</table>
    <br><br>
	<?=render_comments($comments);?>