.vote {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  float: right;
  margin: 6px 0;
}

.vote b {
  font-weight: 700;
  color: #c75050;
}

.vote span {
  font-weight: 700;
}

.vote__rating {
  display: inline-block;
  vertical-align: middle;
}

.vote__result {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.vote__poll {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.vote__btn {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #e3e3e3;
}

.vote__poll.voted .vote__btn {
  opacity: 0.5;
}

#secondvote {
  display: none;
}

.vote__btn:hover {
  background-color: none;
}

.vote__btn:before {
  position: absolute;
  top: 11px;
  left: 7px;
  display: block;
  width: 10px;
  height: 2px;
  content: '';
  background: #c75050;
}

.vote__btn:after {
  position: absolute;
  top: 7px;
  left: 11px;
  display: block;
  width: 2px;
  height: 10px;
  content: '';
  background: #c75050;
}

.vote__btn_minus:after {
  display: none;
}