<div class="date">Дата добавления: <b><?=format_date($date);?></b></div>
<div class="sharing">
        <div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"});
</script>
 
      </div>
      <div class="sharing">
        <div style="float:left;width:170px;">
<div class="fb-like" data-send="false" data-layout="button_count" data-width="180" data-show-faces="true"></div>
</div>
      </div>